{% extends 'templates/app.html' %}


{% block home %}
<!-- Outer Row -->
<div class="container">
  <!-- {% include 'templates/partials/flash.twig' %} -->
  <div class="row justify-content-center">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Bienvenido SPV ~ Toast</h1>
              </div>

              <!-- <form action="{{ path_for('auth.signin') }}" method="post" autocomplete="off" class="user"> -->


                <div class="form-group">
                  <input type="email" class="form-control form-control-user {{ errors.email ? ' is-invalid ' : '' }}" name="email" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu Email">
                  <span class="invalid-feedback" id="errorEmail"> {{ errors.email | first }}</span>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-user {{ errors.password ? ' is-invalid ' : '' }}" name="password" id="password" placeholder="Contraseña">
                  <div class="invalid-feedback" id="errorPassword"> {{ errors.password | first }}</div>
                </div>

                <button type="button" class="btn btn-primary btn-user btn-block" onClick="Home.iniciarSesion(this);">Iniciar Sesión</button>


              <hr>
              <div class="text-center">
                <a class="small" href="#">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>
</div>
{% endblock%}
