{% extends 'templates/app.html' %}

{% block content%}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Mantenedor Usuarios</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="xModal.open('MantenedorUsuarios/Agregar', 'Agregar Usuario', 'lg');"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Agregar Usuario</a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Usuarios del sistema</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Opciones</th>
          </tr>
        </tfoot>
        <tbody>
          <!-- -->
          {% for array in arrays %}
          <tr>
            <td> {{ array.gl_nombre|e }} </td>
            <td> {{ array.gl_email|e }}</td>
            <td>
              <a href="#" class="btn btn-info btn-circle btn-sm" onclick="xModal.open('MantenedorUsuarios/Info?id={{array.id}}', 'Info Usuario', 'lg');">
                    <i class="fas fa-info-circle"></i>
              </a>
              <a href="#" class="btn btn-success btn-circle btn-sm" onclick="xModal.open('MantenedorUsuarios/Editar?id={{array.id}}', 'Editar Usuario', 'lg');">
                    <i class="fas fa-pencil-alt"></i>
              </a>
              <a href="#" class="btn btn-danger btn-circle btn-sm" onclick="MantenedorUsuarios.eliminar();">
                    <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
          <!-- -->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}
