<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="gl_nombre">Nombre</label>
      <input type="text" class="form-control" id="gl_nombre" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="gl_email">Email</label>
      <input type="email" class="form-control" id="gl_email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Tipo de Usuario</label>
      <select id="inputState" class="form-control">
        <option selected>Elige un Tipo de Usuario...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Locales</label>
      <select id="inputState" class="form-control">
        <option selected>Elige un local...</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary float-right">Agregar Usuario</button>
</form>
